PORT = 8002

CORS_ORIGIN =

DATABASE_URL =

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

ACCESS_TOKEN_SECRET =
REFRESH_TOKEN_SECRET =

ACCESS_TOKEN_EXPIRATION =
REFRESH_TOKEN_EXPIRATION =

REDIS_URL =

ZOOKEEPER_CLIENT_PORT =
ZOOKEEPER_TICK_TIME =

KAFKA_PORT =
KAFKA_BROKER_ID =
KAFKA_ZOOKEEPER_CONNECT =
KAFKA_ADVERTISED_LISTENERS =
KAFKA_REPLICATION_FACTOR =
KAFKA_BROKER =