PORT = 8000

CORS_ORIGIN=

DATABASE_URL =

ACCESS_TOKEN_SECRET =
REFRESH_TOKEN_SECRET =

ACCESS_TOKEN_EXPIRATION =
REFRESH_TOKEN_EXPIRATION =

REDIS_URL =

AWS_REGION =
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_S3_BUCKET =

ZOOKEEPER_CLIENT_PORT =
ZOOKEEPER_TICK_TIME =

KAFKA_PORT =
KAFKA_BROKER_ID =
KAFKA_ZOOKEEPER_CONNECT =
KAFKA_ADVERTISED_LISTENERS =
KAFKA_REPLICATION_FACTOR =
KAFKA_BROKER =